<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assisnment assistenace </title>
</head>
<body>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
      <section id="intro" class="clearfix">
        <div class="container">
    
          <div class="intro-img">
              <h1 style="display:none;">Assignment assistance</h1>
            <center><h4 class="title" style="color:#004289;"><b>Get Your Assignment Done</b><br/>
            <small style="color:#004289;">Free Quotes from Writers</small></h4>
            </center>
            <form class="text-center" style="color: #757575;" method="POST" action="">
    <!-- <input type="hidden" name="_token" value="gPkCyY7tfzJG62ZXYkJQFVXF64PudaCmgXjrMMEv">    E-mail -->
        <div class="md-form">
            <input type="email" name="email" id="materialContactFormEmail" class="form-control" placeholder="Enter your email" required>
            <label for="materialContactFormEmail">&nbsp;</label>
        </div>
        <div class="md-form">
            <input type="text" name="topic" id="materialContactFormEmail" class="form-control" placeholder="Enter paper title or topic" required>
            <label for="materialContactFormEmail">&nbsp;</label>
        </div>
        <!-- Subject -->
        <div class="md-form">
            <span></span>
            <select class="form-control" style="margin-bottom: 20px;" name="subject" required="">
                <option hidden="" disabled="disabled" selected="selected" value="">Select subject</option>
                <option value="Art">Art</option>
                <option value="Biology">Biology</option>
                <option value="Business">Business</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Communication Media">Communication Media</option>
                <option value="Computer Science and IT">Computer Science and IT</option>
                <option value="Creative Writing">Creative Writing</option>
                <option value="Economics">Economics</option>
                <option value="Education">Education</option>
                <option value="Engineering">Engineering</option>
                <option value="General">General</option>
                <option value="Geography">Geography</option>
                <option value="History">History</option>
                <option value="Law">Law</option>
                <option value="Leadership and Geography">Leadership and Governnance</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Philosophy">Philosophy</option>
                <option value="Physics">Physics</option>
                <option value="Psychology">Psychology</option>
                <option value="Science">Science</option>
                <option value="Sociology">Sociology</option>
                <option value="Statistics">Statistics</option>
                <option value="Technology">Technology</option>
            </select>
        </div>
         <div  class="md-form col-6" style="float:left;padding-right:3px;padding-left:0;" >
            <input type="text" autocomplete="off" class="form-control datePicker date-picker-x-input readonly" id="deadline" name="deadline" placeholder="Deadline" required>
        </div>
            <div  class="md-form col-6" style="float:left;padding-right:0;padding-left:3px;"  >
            <select class="form-control" id="documenttype" name="budget" data-rule-required="true">
                <option selected="true" disabled="disabled">Select budget</option>   
                <option value="$20-$30">$20-$30</option>
                <option value="$30-$50">$30-$50</option>
                <option value="$50-$100">$50-$100</option>
                <option value="$100-$150">$100-$150</option>
                <option value="$150-$250">$150-$250</option>
                <option value="$250-$500">$250-$500</option>
                <option value="$500-$1000">$500-$1000</option>
                <option value="$1000-$1500">$1000-$1500</option>
                <option value="$1500-$2000">$1500-$2000</option>
                <option value="above $2000">above $2000</option>
            </select>
        </div>
        <br/><br/>
        <!-- Send button -->
        <center>
            <input type="submit" class="submit btn btn-primary" type="submit" style="background:#004289;border-color: #004289;" value="Submit &raquo;">
        </center>
    
    </form>
          </div>
    
          <div class="intro-info">
           <h2 style="color:#fff;font-weight:bold;">WANT YOUR ASSIGNMENT DONE?</h2>
           <p style="color:#fff;font-size:20px;">&nbsp;</p>
            
            <p style="color: #fff; font-weight: bold;">Get your assignment done in expertise, inteligent and punctuality manner and in more a more reasonable price, which makes us one of the best acaemic writing company.</p>
            
            <br/> 
            <div>
              <a href="order_now.ejs" class="btn-services scrollto" >Get Homework Assistance Now</a>
            </div>
            <div style="color:#edebeb;margin-top:20px;">
                <i class="fa fa-check-circle" aria-hidden="true" style="color:#edebeb;font-size:20px;margin-left:10px;"></i>&nbsp;&nbsp;<sub>100% PRUGREESM FREE</sub>
                <i class="fa fa-clock-o" aria-hidden="true" style="color:#edebeb;font-size:20px;margin-left:10px;"></i>&nbsp;&nbsp; <sub>DEADLINE GUARANTEED</sub>
                <i class="fa fa-star" aria-hidden="true" style="color:#edebeb;font-size:20px;margin-left:10px;"></i>&nbsp;&nbsp; <sub>QUALITY GUARANTEED</sub>
            </div>
          </div>
    
        </div>
      </section><!-- #intro -->
    
      <main id="main">
    
        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
          <div class="container">
    
            <div class="row about-container">
    
              <div class="col-lg-6 content order-lg-1 order-2">
              <h2 class="title">Assignment Assisstance from the best Writers in the word</h2>
                <p>AssignmentAssistance team consists of professionals writers who have excelled in their fields of study. For the past few decates we have assisted students excel into their acaemics by deliverin high quality, non-plagiarized work. We offer expertise, integrity, and punctuality and at reasonable prices, which makes us one of the best academic writing company.</p>
    
                <h2 class="title">Homework Assistance</h2>
                <div class="icon-box wow fadeInUp">
                  <div class="icon"><i class="fa fa-sign-in"></i></div>
                  <h4 class="title"><a href="/order_now">Post Assignment Instructions</a></h4>
                  <p class="description">Post your assignment for assistance stating all instructions and uploading all required files and let the writers place their bids.</p>
                </div>
    
    
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                  <div class="icon"><i class="fa fa-edit"></i></div>
                  <h4 class="title"><a href="/order_now">Writers Place Bids</a></h4>
                  <p class="description">Check various bids from writers and evaluate writers based on reviews from their previous work and choose the best.</p>
                </div>
                
                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                  <div class="icon"><i class="fa fa-check"></i></div>
                  <h4 class="title"><a href="/order_now">Select Your Preferred Writer</a></h4>
                  <p class="description"> Various writers will reach you with their offers to do your paper. Select the best writer who fits your requirements and assign them your work. Enjoy your free time as we write your paper.</p>
                </div>
                
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                  <div class="icon"><i class="fa fa-download"></i></div>
                  <h4 class="title"><a href="/order_now">Download Solution and Rate the Writer</a></h4>
                  <p class="description">Upon Completion, the writer will upload the solution and you will be able to download it. In case of any revision, the writer is ready for it</p>
                </div>
    
              </div>
    
              <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                    <h3>A few things were great at</h3>
                    <p>We are assignmentassistance.com and we are know for our artisan in composing different types of writing. Whether constrained by time or experience difficulties in completing your assignment, worry no more as we exist solely to help you out. Our goal is to help you get high grades in all your assignments.</p>
                    <p>Our main objective is to guarantee customer satisfaction and trust between our managers and the client. Therefore, feel free to contact us through our website’s chat room or call the manager directly to discuss the details of your requirements, suggestions, and opinions. Refrain from stressing yourself up with tight deadlines and tough essays because we are here to solve such problems for you. </p>
                    <br/>
                    
                    <div class="et_pb_text_inner"><h4>We Value You</h4>
                    <p>At Assignmentassisatance, we prioritise our customer's requirements and satisfaction. This is why we have established moderate rates for all our essays and assignments considering that as students, sometimes finances can be a challenging factor. With this in mind, we assure you to be charged at the most considerable rates for all your assignments. </p>
                    <p>We are also concerned with your convenience and satisfaction and this is why we have created a platform that is 100% interactive for you and one that is based on user-friendliness. As our client, you are also obliged to demand services that fit your requirements to allow our team handle your papers with ease and to ensure that you are contended with our services on a personal level. Do not wait any longer, reach out to us today. </p></div>
                    <br/>
                    
                    <br/><br/>
                    
              </div>
            </div>
    
          </div>
        </section><!-- #about -->
    
        <!--==========================
          Services Section
        ============================-->
        
        <section id="services" class="section-bg">
          <div class="container">
    
            <header class="section-header">
              <center><h2>Assignment Solutions </h2></center>
              <p>Our writers have immense experience in the following areas and much more. Proceed to place an order.</p>
            </header>
    
            <div class="row">
    
               <div class="container">
                    <div class="row mx-auto text-dark" style="margin-bottom:1%;">
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder papers-link" href="/order_now">Essay</a>
                        </div>
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder2  papers-link" href="/order_now"> Business Plan</a>
                        </div>
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder papers-link" href="/order_now">Term Papers</a>
                        </div>
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder papers-link" href="/order_now"> Research Papers</a>
                        </div>
                    </div>
                    <div class="row mx-auto text-green" style="margin-bottom:1%;">
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder2 papers-link" href="/order_now">Personal Statements </a>
                        </div>
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder2 papers-link" href="/order_now">Reports</a>
                        </div>
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder2 papers-link" href="/order_now">Homework </a>
                        </div>
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder2 papers-link" href="/order_now"> Book Reviews </a>
                        </div>
                    </div>
                    <div class="row mx-auto text-green" style="margin-bottom:1%;">
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder2  papers-link" href="/order_now">Q&amp;A</a>
                        </div>
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder2 papers-link" href="/order_now">Presentation or Speech</a>
                        </div>
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder2  papers-link" href="/order_now">Speech</a>
                        </div>
                        <div class="col-md-3  mx-auto p-b-10">
                            <a class="btn btn-xs btn-outline-primary btn-block bolder2  papers-link" href="/order_now"> Course Work</a>
                        </div>
                    </div>
                </div>
    
            </div>
    
          </div>
        </section><!-- #services -->
    
        <!--==========================
          Why Us Section
        ============================-->
       
    
    
    <section id="about">
          <div class="container">
    <header class="section-header">
              <center><h2><a href="/order-now">Do My Assignments</a> </h2></center>
            </header>
            <div class="row about-container">
            
              <div class="col-lg-12 content">
                <p>
                  In need of assistance with your assignment, coursework, essays, and other University or college Assignments? At online essay writing service Assignmentassistance you receive a completed assignment together with the benefit to help you score high grades.
                </p>
              </div>
              <div class="col-lg-12 content">
                  <p>Our team of writers has been trained to handle your diverse papers within the time frame you selected while uploading them. This means that about 20 minutes before your deadline has elapsed you should have received a notification in your account that the essay has been uploaded. To download the assignment, just log in to the website with your previously registered details and click on the download this paper button. We would also request that you review the paper and ask any queries, suggestions, or corrections you may have. Some of the writing services we offer include:</p>
            <ul class="list-group" style = "margin: 20px;">
              <li class="list-group-item fa fa-check">Essay writing and rewriting</li>
              <li class="list-group-item fa fa-check">Admission essays</li>
              <li class="list-group-item fa fa-check">Resume writing and editing</li>
              <li class="list-group-item fa fa-check">Term papers writing</li>
              <li class="list-group-item fa fa-check">Business plans</li>
                        <li class="list-group-item fa fa-check">Research papers writing</li>
                        <li class="list-group-item fa fa-check">Book reviews, summary and critic writing</li>
                        <li class="list-group-item fa fa-check">Personal statement writing</li>
                        <li class="list-group-item fa fa-check">Editing and proofreading</li>
                        <li class="list-group-item fa fa-check">Q&As for general coursework assignments.</li>
                        <li class="list-group-item fa fa-check">Online class help</li>
                    </ul>
                    </div>
                    <p>Are you interested in our services? Our support team is available 24/7 to give any kind of assistance you might need. Our platform has a messaging module which allows our clients to chat with our support team in real-time and get the help they need. Get in touch with us and see how we can elevate your academic goals. </p>
                </div>
            </div>
    
          </div>
        </section>
        
         <section id="why-us" class="wow fadeIn">
          <div class="container">
            <header class="section-header">
              <h3>Why AssignmentAssistance?</h3>
              <p>In summary, AssignmentAssistance is committed to drawing you nearer to your academic goals and dreams. The structure of our platform makes quality one of our inevitable values. Our Quality Assurance Department goes through the writers' work to verify their quality and relevance before you receive the outcome. We have no room for shoddy work! Check the testimonials from our previous clients, and be the judge.</p>
            </header>
    
            <div class="row row-eq-height justify-content-center">
    
              <div class="col-lg-3 mb-3">
                <div class="card">
                  <i class="fa fa-lock"></i>
                  <h5 class="card-header">CONFIDENTIALITY AND PRIVACY</h5>
                  <div class="card-body">
                    <p class="card-text">At AssignmentAssistance we prioritize your confidentiality and privacy and thus all the information that you provide is for our use only and will be held in strict confidence.</p>
                    <a href="/order_now" class="btn btn-primary">Get Help</a>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-3 mb-3">
                <div class="card">
                  <i class="fa fa-language"></i>
                  <h5 class="card-header">100% PLAGIARISM FREE WORK</h5>
                  <div class="card-body">
                    <p class="card-text">Our writers deliver thoroughly researched original work with proper citations to ensure credibility to the content owner.</p>
                    <a href="/order_now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-3 mb-3">
                
                <div class="card">
                  <i class="fa fa-clock-o"></i>
                  <h5 class="card-header">TIMELY DELIVERY</h5>
                  <div class="card-body">
                    <p class="card-text">Quality and accurate work delivered to your inbox well before the deadline.As such, we offer a variety of writing services to cater for all your academic needs.</p>
                    <a href="/order_now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-3 mb-3">
    
                <div class="card">
                  <i class="fa fa-clock-phone"></i>
                  <h5 class="card-header">CUSTOMER SUPPORT</h5>
                  <div class="card-body">
                    <p class="card-text">Our writers are always online 24/7 and open to communication with our clients to assist them with their assignment and get any clarification.</p>
                    <a href="/order_now" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
              </div>
    
            </div>
    
            <div class="row counters">
    
              <div class="col-lg-2 col-6 text-center">
                <span data-toggle="counter-up">9274</span>
                <p>Clients</p>
              </div>
    
              <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">86421</span>
                <p>Orders Completed</p>
              </div>
    
              <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">9.8</span>
                <p>Average Quality Score Out of 10</p>
              </div>
    
              <div class="col-lg-2 col-6 text-center">
                <span data-toggle="counter-up">563</span>
                <p>Academic Experts</p>
              </div>
              
              <div class="col-lg-2 col-6 text-center">
                <span data-toggle="counter-up">6</span>
                <p>Years of experience</p>
              </div>
      
            </div>
    
          </div>
        </section>
       
        <!--==========================
          Clients Section
        ============================-->
        <!-- testimonials  -->
    
        <!-- end of testmonials  -->
        
      </main>
    
    <div class="col-sm-10 offset-md-1">
        <strong> We accept all payment option, no PayPal account is required</strong>  <img src="https://assignmentheros.com/images/payments-options.png">
    </div>
      <!--==========================
        Footer
      ============================-->
      <footer id="footer">
        
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><a href="/home">AssignmentAssistance.com</a></strong>. All Rights Reserved 
                | <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms">Terms of Use</a>
          </div>
        </div>
      </footer>
      <!-- #footer -->
    
      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
      <!-- Uncomment below i you want to use a preloader -->
      <!-- <div id="preloader"></div> -->
    
    
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    
</body>
</html>
</body>
</html>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
